/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .ticker {

        font-size: 0.7em;
    }


    nav {
        padding-top: 2em;
        font-size: 0.9rem;


    }

    nav ul li {

        display: inline;
        text-align: left;
        padding-left: 1em;



    }

    .heroContent {

        margin: 3em auto;
        text-align: center;
        /* padding:0 5.1em; */
        width: 90%;
    }


    .heroContent>h1 {

        font-size: 1.9rem;
        text-align: center;
        font-weight: 700;


    }

    .heroContent>p {

        font-size: 0.9rem;
        padding-top: 2.5em;
        font-weight: 500;


    }

    .heroContent ul li {

        display: inline;
        text-align: center;
        padding: 0.2em 0.2em;



    }

    .heroContent ul li a {


        font-size: 0.7rem;
        font-weight: 700;


    }

    .heading{

        /* background-color: yellow; */
        width: 100%;
       
        padding-top: 0.9em;
        color:#707070;
        /* background-color: white; */
      
        
    }

    .title{

        font-size: 2.2rem;
        font-weight: 700;
    
    }
    .introduction {

        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.5emm;
        text-align: center;
        
    }

    
    .content {
    
        margin: 1.5em auto;
        text-align: center;
        /* padding:0 5.1em; */
        width: 100%;
        /* background-color: rgb(224, 64, 176); */
    }
    .content>p{
    
        text-align: left;
    }

    .gallery {


        width: 100%;
        margin: 4rem auto;
    }

   

}
