/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

    

    nav ul li:nth-of-type(2){
   
        margin-left: auto;
        padding-left: 3rem;
    
    }
    nav ul li:nth-of-type(3){
    
         
        padding-left: 1rem;
    
    }
    nav ul li a {
    
        font-size:0.9em;
        font-weight: 500;   
    
    }

    .projectDetails{

        width: 100%;
    
        /* background-color: red; */
        display: flex;
        
        flex:column;
        flex-wrap: wrap;
        justify-content:space-between;
             
       
    
    }
   
    .detail{

        padding-top: 1rem;
    }
   
    .detail >h2 {
    
        font-size: 1em;
           
    
    }

    .detail >p {
    
       
        font-size: 0.8em;
        padding-top: 0.3rem;           
    
    }

    .content{

        width: 100%;
        margin-top: 2rem;
    }

    .title{

        font-size: 1rem;
    }
    .description{
            
      margin-top: 0.8rem;
      font-size: 1rem;
      font-weight: 500;
    }
    
    
    .footerContainer{
        width:88vw;
        margin: auto;
        position: relative;
    }
    
    .footerContent{
    
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        margin: 3.0rem 0;
        font-weight: 500;
       
    }

    .footerContent  ul li{
        display: block;
        
      
    }
    
    
    .backToTop{
    
        text-decoration: underline;
    }


   

   


}